<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-2">
      <h4 class="brand-logo center">{{'TITLE' | translate}}</h4>
      <ul class="right hide-on-small-only">
        <li class="tooltipped" data-position="bottom" data-tooltip="Info"><a href="#ModeAnalysis"><i class="material-icons">info</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div id="ModeAnalysis" class="modal">
  <div class="modal-content grey darken-2 white-text">
    <h5>{{'MODE_ANALISYS' | translate}}</h5>
  </div>
  <div class="modal-content">
    <ul>
      <li>{{'MODAL_DESC_1' | translate}}</li>
      <li>{{'MODAL_DESC_2' | translate}}</li>
      <li>{{'MODAL_DESC_3' | translate}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect btn-flat">{{'CLOSE' | translate}}</a>
  </div>
</div>
